div {
  padding: 1rem;
  border: 2px solid #000;
  margin: 1rem 0;
  width: fit-content;

  border-radius: 4px;
}

p {
  font-size: 1.2rem;
  font-weight: bold;
}

input {
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

